| $('#teams').html('
= j render 'list', teams: @teams
|');

| $('.remote_pagination').html('
= render 'shared/pagination_with_per_page_links', list: @teams, opts: { params: params.slice(:search).to_unsafe_h, remote: true }
| ');
