javascript:
  I18n.defaultLocale = "#{ I18n.default_locale }";
  I18n.locale = "#{ I18n.locale }";
  I18n.fallbaks = true

  Flatpickr.l10ns.ua = Flatpickr.l10ns.uk;
  Flatpickr.localize(Flatpickr.l10ns[I18n.locale]);
