.card {
  .thumbnail {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border: 1px solid #eee;

    -webkit-transition: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;

    .single-line {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:hover {
      @media (min-width: 768px) {
        opacity: 0.9;
        box-shadow: 0 0 50px 3px #515151;
      }
      @media (max-width: 767px) {
        box-shadow: 0 0 5px 0.1px #515151;
      }
    }

    table img {
      height: 48px;
    }

    .avatar-container {
      position: relative;
      height: 0;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
      }
    }

    hr.ball {
      border-top: 1px dashed #8c8b8b;

      &:after {
        content: '\0026BD';
        display: inline-block;
        position: relative;
        top: -12px;
        left: 80%;
        padding: 0 3px;
        color: #8c8b8b;
        font-size: 18px;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none !important;
  }
}
