.draggable {
  h4 {
    .bars {
      cursor: move;
      color: #a0adb1;
      vertical-align: -webkit-baseline-middle;
      padding-left: 8px;
    }

    a {
      vertical-align: -webkit-baseline-middle;
    }
  }
}
