.player-card {
  .avatar {
    opacity: 1;
    -webkit-transition: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;

    &:hover {
      opacity: 0.8;
    }
  }

  a {
    color: inherit;
  }
}
