.page-header {
  margin: 40px 15px 20px;

  @media (max-width: 767px) {
    margin-top: 0px;
  }
}

.control-bar {
  margin-bottom: 10px;
}

.navbar {
  font-size: 16px;
  .navbar-brand {
    padding: 0;
    img {
      margin-top: 5px;
      margin-left: 5px;

      height: 100px;

      @media (max-width:767px) {
        height: 40px;
      }
    }
  }

  .navbar-header {
    .navbar-toggle {
      margin-left: 15px;
    }
  }

  @media (min-width: 768px) {
    .site-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .control-nav {
      float: right;
    }

    .navbar-collapse {
      text-align: center;
    }
  }
}

.language-bar {
  .dropdown-toggle i {
    margin-right: 2px;
  }

  .dropdown-menu {
    min-width: 10px;
  }
}

#user-login {
  .modal-dialog {
    max-width: 450px;
    margin: auto;
  }

  @media screen and (min-width: 768px) {
    &.modal {
      text-align: center;
    }

    &.modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }

    .modal-dialog {
      max-width: 450px;
      margin: auto;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
  }
}

.avatar-border {
  border:0;

  .avatar-cropper {
    cursor: pointer;
  }

  .avatar {
    display: block;
    min-width:  0px !important;
    min-height: 0px !important;
    max-width:  none !important;
    max-height: none !important;
  }
}

.pagination {
  display: inline-block;
  margin: 0px;
}

#footer {
  .social-media {
    margin-top: -10px;

    a {
      margin-right: 15px;
      color: gray;

      &:hover {
        color: black;
      }
    }
  }

  img {
    height: 30px;
  }

  .help a {
    margin-left: 10px;
  }
}

.panel {
  border-radius: 6px;

  .panel-heading {
    .command {
      padding-bottom: 3px;
    }

    .input-group {
      padding-left: inherit;
    }
  }

  .panel-body {
    .thumbnail {
      border-radius: 10px;
    }
  }
}

.no-underline {
  text-decoration: none !important;
}

.search {
  border-radius: 50px !important;
}

.search-box {
  .form-group {
    margin-bottom: 0px;
  }

  input[type='text'] {
    border-radius: 30px 0px 0px 30px !important;
  }

  .btn {
    border-radius: 0px 30px 30px 0px;
  }
}

.table tbody>tr>td.vert-align {
  vertical-align: middle;
}

input[readonly].datepicker{
  background-color:transparent;
}
