.navbar {
  font-size: 16px;
  .navbar-brand {
    padding: 0;
    img {
      margin-top: 5px;
      margin-left: 5px;

      height: 100px;

      @media (max-width:767px) {
        height: 40px;
      }
    }
  }

  .navbar-header {
    .navbar-toggle {
      margin-left: 15px;
    }
  }

  @media (min-width: 767px) {
    .site-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .control-nav {
      float: right;
    }

    .navbar-collapse {
      text-align: center;
    }
  }
}

.language-bar {
  .dropdown-toggle i {
    margin-right: 2px;
  }

  .dropdown-menu {
    min-width: 10px;
  }
}

#user-login {
  .modal-dialog {
    max-width: 450px;
    margin: auto;
  }
}

.avatar-border {
  border:0;

  .avatar-cropper {
    cursor: pointer;
  }

  .avatar {
    display: block;
    min-width:  0px !important;
    min-height: 0px !important;
    max-width:  none !important;
    max-height: none !important;
  }
}

.pagination {
  display: inline-block;
  margin: 0px;
}

#footer {
  .social-media {
    a {
      padding: 5px;
      color: gray;

      &:hover {
        color: black;
      }
    }
  }
}

.panel-heading {
  .command {
    padding-bottom: 3px;
  }

  .input-group {
    padding-left: inherit;
  }
}

.no-underline {
  text-decoration: none !important
}

.table tbody>tr>td.vert-align {
  vertical-align: middle;
}
